@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
	margin:0;
  padding:0;
	background: url(../images/sansriviere-04.jpg)no-repeat center center fixed;
  background-size: cover;
}

header {
	min-height: 7vh;
}


.bouton {
 list-style-type: none;
 display: flex;
 justify-content: space-between;
 padding : 0;
 margin: 0;
}

.bouton li {
	max-width: 8vh;
}

.bouton img {
	width: 100%;
}

.image-information {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
}


.image-acceuil {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: url('acceuil.jpg') top center no-repeat;
	background-size: cover;
}

.image-acceuil img{
	width: 100%;
}

.image-gagne{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.image-gagne h1 {
	color : red;
	font-family: helvetica;
	font-size: 15em;
	text-shadow: -6px -6px 0 #fff, 6px -6px 0 #fff, -6px 6px 0 #fff, 6px 6px 0 #fff;
	padding: 0px;
	margin: 0px;
}

.image-perdu {
	display: flex;
	justify-content: center;
}


.image-perdu h1 {
	color : black;
	font-family: helvetica;
	font-size: 10em;
	text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 3px 3px 0 #fff;
	margin: 0px;
	padding: 0px;
}

.image-container {
	margin: 22px;
}

.bouton-play {
	width: 250px;
}

.bouton-play img {
	width : 100%;
}


.image-container img {
		width: 20vh;
}

.bateau {
	max-width: 10%;
	position: absolute;
}

.bateau img {
	width: 100%;
}


.view {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url(../images/riviere-04.png)no-repeat center;
	background-size: cover;
}


.haut,
.bas {
	display: flex;
	justify-content: space-around;
 	align-items: center;
}

.bas .missionnaires {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.bas .cannibales {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.cannibales,
.missionnaires {
	display: flex;
	flex-basis: 400px;
	flex-shrink: 1;
	justify-content: center;
}

.haut{
/*	margin-top: 6vh; */
}

.choix {
list-style-type: none;
 display: flex;
 justify-content: space-between;
 justify-content: center;
 justify-content: align;
 padding : 0;
 margin:0;
}

.choix li {
	max-width: 22vh;
}

.choix img {
	width: 100%;
}

footer {
	min-height: 25vh;
}

.recap {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}


video {
	display: block;
	width : 800px;
}
